.our-team{

    &__content{
        margin-bottom: 132px;
        padding-top: 120px;
    }

    &__title{
        margin-bottom: 120px;
    }

    &__rows{
        display: flex;
    }

    &__item{
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:last-child{
            margin-right: 0;
        }
    }

    &__name{
        display: block;
        margin-bottom: 12px;
        margin-top: 35px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }

    &__job-title{
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #373A39;
    }

    &__img{
        img{
            width: 100%;
            height: 100%;
        }
    }
}


@media (max-width: 768.98px){
    .our-team__item{
        margin-right: 10px;
    }

    .our-team__name{
        margin-top: 8px;
        margin-bottom: 6px;
    }

    .our-team__title{
        margin-bottom: 75px;
        margin-top: 90px;
    }
}

@media (max-width: 425.98px){
    .our-team__rows{
        flex-direction: column;
    }

    .our-team__img{
        width: 240px;
    }

    .our-team__item{
        margin-right: 0;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .our-team__name{
        margin-top: 15px;
    }

}

