.video{
    padding-top: 130px;
    margin-bottom: 192px;

    &__player{
        background: url('../img/video/video-bg.png') 50%/cover no-repeat;
        padding-top: 130px;
        padding-bottom: 129px;
        margin-bottom: 164px;
    }

    &__play-btn{
        display: block;
        max-width: 54.88px;
        height: 64.03px;
        background: url('../img/video/icon/shape.png');
        margin: 0 auto;
        transition: background 0.7s ease 0s;

        &:hover{
            background: url('../img/video/icon/shape-hover.png');
        }
    }

    &__nums{
        display: flex;
        justify-content: space-between;
        padding: 0 93px;
        flex-wrap: wrap;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__num{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: #242121;
        margin-bottom: 9px;
    }

    &__text{        
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #333333;
    }
}

.quotes{
    margin-bottom: 148px;

    &__text{
        p{
            max-width: 650px;
            margin: 0 auto;
            text-align: center;
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 300;
            font-size: 18px;
            line-height: 36px;
            color: #242121;
            margin-bottom: 51px;
        }

        span{
            display: block;
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 300;
            font-size: 14px;
            line-height: 32px;
            color: #9E9E9E;
            max-width: 83px;
            margin: 0 auto;
            text-align: center;
        
        }
    }
}



@media (max-width: 768.98px){
    .video{
        padding-top: 75px;
    }

    .video__nums{
        flex-direction: column;
    }

    .video__item{
        margin-bottom: 50px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    .video__player{
        margin-bottom: 64px;
    }
}